body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#fff; color:#555; font-size:14px; font-family: Verdana, Arial, Helvetica, sans-serif; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#555; text-decoration:none; }
a:hover { text-decoration:underline; }
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; }
table { border-collapse:collapse; }
html {overflow-y: scroll;} 

.clearfix:after {content: "."; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }

/* 下面开始样式表 */

/* pc width > 992px */
body {
    background-color: #f3f3f3;;
}

/* pad 400px < width < 992px */


/* phone width < 400px */

/*
.nav-bar-wrapper {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 3;

    
}
*/

.nav-bar {
    position: fixed;
    top: 0px;
    height: 100px;

    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(204, 204, 204, 0.6);

}

.nav-bar .logo img {
    width: auto;
    height: 80px;
    top: 0px;
    left: 0px;
    z-index: 4;
}

.banner-wrapper {
    position: relative;
    top: 0px;
}

.banner-wrapper .banner {

    position: relative;
    background-image: url('../images/banner-clear.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;
    z-index: 0;
}

.banner-title-01 {
    position: relative;
    top: 520px;
    left: 50px;
    font-size: 4.2em;
    width: 100%;
    
    z-index: 3;
    
    color: #fff;
}

.banner-title-02 {
    position: relative;
    top: 540px;
    left: 50px;
    font-size: 3em;
    
    z-index: 3;
    
    color: #fff;
}


/* 下面是links区域的样式 */

.links {
    margin-top: -160px; /*把links区域向上移动了180px*/
    margin-bottom: 50px; /*links区域底部留出了50px*/
    display: flex;
    justify-content: center;
    overflow: hidden;
    flex-wrap: wrap;

    background-color: #f3f3f3;
    font-size: 17px;
    width: 100%;
    
}

.links_list {
    margin-left: 80px;
    display: flex;
    flex-wrap: wrap;
}



.links_list li {
    width: 214px;
    height: 180px;
    margin: 32px 32px;
    border-radius: 12px;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    line-height: 24px;

    transition: all 0.08s ease-in-out;
}

.links_list li:hover {
    transform: scale(1.2);
}

.links_list li a {
    display: flex;
    justify-items: center; /*项目在主轴上，居中对齐*/
    align-items: center; /*项目在交叉轴上，居中对齐*/
    flex-direction: column; /*主轴为垂直方向，起点在上沿*/
    
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 25%;

    color: rgba(0,0,0,.9);
    text-decoration: none;

    font-size: 1.2em;
}

.links_list li a i {
    margin-bottom: 16px;
}



.icon-intro {
    background-image: url(../images/intro.png);
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-size: cover;
}
.icon-play-ppt {
    background-image: url(../images/play-ppt.png);
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-size: cover;
}
.icon-download-ppt {
    background-image: url(../images/download-ppt.png);
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-size: cover;
}
.icon-how-to-use {
    background-image: url(../images/how-to-use.png);
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-size: cover;
}
.icon-demo {
    background-image: url(../images/demo.png);
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-size: cover;
}
.icon-download-files {
    background-image: url(../images/download-files.png);
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background-size: cover;
}

/* 下面是footer区域 */
.footer {
    border-top: 1px solid #d2d2d7;
    background-color: #f5f5f7;
    color: #6e6e73;
    font-size:0.05em;
}

.footer .notice {
    margin: 10px 10px;
}

.footer .copyright {
    margin: 10px 10px;
}